#container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    width: 40%;
    min-height: 60vh;
    max-height: 60vh;
    background-color: white;
}

#slide{
    height: 60vh; 
}

@media only screen and (max-width: 1000px) {
    #card{
        width: 60%;
        min-height: 30vh;
        max-height: 30vh;
    }

    #slide{
        height: 30vh; 
    }
  }